*{
    margin: 0;
    padding: 0;
}

nav{
    border: 1px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    height: 151px;
    gap: 158px;

    
}
h1{
    height: 51px;
    width: 99px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4E47FF;

}




nav button{
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
}
h2{
    font-weight: bold;
    margin-bottom: 37px;
    font-size: 65px;
}
.btn-properties{
    width: 174px;
    height: 48px;
    background-color: #4E47FF; 
    color: #FFFFFF; 
    border-radius: 10px;
    border: none;
    gap: auto; 
    

    
}
.container{
    text-align: center;
    
    
}
.header{
    background-image: url("../Assets/Hero-bg.png");
    
}

.action{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    margin: auto auto;

}

.picture{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}
h3{
    font-weight: bold;
    padding: 0, 23px;
   
}
.launch-btn{
    width: 229px;
    height: 48px;
    padding: 12px, 36px;
    background-color: #4E47FF;
    color:#FFFFFF ;
    border: none;
    border-radius: 10px;
    

}
main{
    margin-bottom: 1em;
}
.action-user{
   
    text-align: center;
    justify-content: space-around;
    width: 1140px;
    height: 306px;
    justify-content: center;
    background-color:#7E76ED; 
    margin: 2em auto;
    border-radius: 25px;

    

}
.secondary-user{
    width: 856;
    height: 206;
    padding: 80px 50px;
}
.advertise{
    display: flex;
    gap: 0 158px;
    justify-content: space-around;
}
.secondary-user{
    justify-content: space-between
    align-items: center;
    margin: 0 auto;
}

h4{
    color: white; 
    margin-bottom: 40px;
}

span{
    font-weight: bold;
    font-size: 80px;
    color: antiquewhite;
}
.size{
    font-size: 20px;
}
.heading-size{
    font-size: 38px;
}

.users-review{
    width: 1140px;
    height: 342px;

}


.reviewer{
    display: flex;
    

}
.besides{
    display: flex;
    justify-content: space-around;
    width: 1140px;
    height: 342px;
    margin: 0 0 0 10em; 
  
}
h6{
    color:#252432 ;
    font-weight: bold;
    font-size: 42px;
     text-align: center;
    justify-content: space-between;
    margin:50px;
    
}

h5{
    font-size:large ;
    font-weight: bold;
    margin-bottom: 15px;
}

.para{
    margin-bottom: 15px;
}
.get-in-touch{
    padding: 0 10em;
    display: flex;
    gap: auto;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 50;
    font-weight: bold;
    color: #000000;
}

.below-marg{
    margin-bottom: 19px;
}

.btn-touch{
    background-color:#4E47FF ;
    color: #FFFFFF;
    border-radius: 10px;
    width: 497px;
    height: 62hug;
}

.foot{
    text-align: center;
}

.logo{
    margin-top: 2em;
    font-size: 4em; 
    text-align: center;
    font-weight: bolder;
}
.footer nav a{
    text-decoration: none;
    color: gainsboro; 
    margin: 0 0 0.5em; 
}




